apps/throwtrash-web/frontend/dist
apps/throwtrash-web/frontend/out
apps/throwtrash-web/frontend/coverage
apps/throwtrash-web/backend/certs
apps/throwtrash-web/backend/config.json
apps/throwtrash-web/backend/serviceAccountKey.json
apps/throwtrash-web/backend/backend-dist
apps/throwtrash-web/backend/cfn/package-template.yml
apps/throwtrash-web/backend/__tests__/coverage
apps/throwtrash-web/api/api-dist
apps/throwtrash-web/api/package-template.yml
**/.next
**/.env
node_modules
**/cdk.out
# coverageレポート
**/coverage
# AIエージェント用のワークスペース
work/
